.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphe p, .graphe h1, .graphe label, .graphe select {
    font-family: font1B;
}

.graphe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.graphe p {
    width: 50vw;
    text-align: left;
}

.graphe div {
    display: flex;
    flex-direction: column;
}

img {
    width: auto;
}