.page {
    background-color: #ecedd4;
    min-height: 40vh;
}

 header {
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #204116;
}

.separation {
    top: 15vh;
    left: 0;
    background-image: url(./../image/vagueSeparation3.svg);
    background-size: cover;
    background-repeat: repeat-x;
    height: 5vh;
}