@media screen and (max-width: 768px)  {  /*tablette*/
    header {
        flex-direction: column;
    }

    nav {
        width: 100vw;
    }

    nav a {
        width: 20vw;
    }

}

@media screen and (min-width: 769px)  {  /*ordi*/
    header
     {
        flex-direction: row;
    }

    nav a:hover {
        background-color: #ecedd44b;

    }
}

#header {
    display: flex;
}

#nav {
    display: flex;
}

header {
    width: 100%;
    min-height: 15vh;
    display: flex;
    justify-content: space-around;
    position: fixed;
    flex-wrap: wrap;
    background-color: #204116;
}

.separation {
    background-color: #ecedd4;
    width: 100%;
    background-repeat: no-repeat;
}

.containerLogoNom, nav{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo img {
    height: 6vh;
    width: auto;
    margin-right: 2vw;
}

header h1 {
    color: #ecedd4;
    font-family: font1;
}

nav a {
    display: flex;
    background-color: rgb(100, 125, 85);
    color: #204116;
    text-decoration: none;
    border-radius: 90px;
    padding: 5px 10px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 6vw;
    min-height: 3.5vh;
    justify-content: center;
    margin: 5px;
    align-items: center;
    top: 5vh;
    font-family: font1B;
}

.espaceHeader {
    height: 15vh;
    background-color: #ecedd4;
}

