.page {
    background-color: #ecedd4;
    min-height: 100vh;
}

.separation {
    top: 15vh;
    left: 0;
    position: fixed;
    background-image: url(data/vagueSeparation3.svg);
    background-size: contain;
}